.u-bg-navy { background-color: var(--color-navy); }
.u-bg-blue { background-color: var(--color-blue); }
.u-bg-aqua { background-color: var(--color-aqua); }
.u-bg-teal { background-color: var(--color-teal); }
.u-bg-olive { background-color: var(--color-olive); }
.u-bg-green { background-color: var(--color-green); }
.u-bg-lime { background-color: var(--color-lime); }
.u-bg-yellow { background-color: var(--color-yellow); }
.u-bg-orange { background-color: var(--color-orange); }
.u-bg-red { background-color: var(--color-red); }
.u-bg-fuchsia { background-color: var(--color-fuchsia); }
.u-bg-purple { background-color: var(--color-purple); }
.u-bg-maroon { background-color: var(--color-maroon); }
.u-bg-white { background-color: var(--color-white); }
.u-bg-gray { background-color: var(--color-gray); }
.u-bg-silver { background-color: var(--color-silver); }
.u-bg-black { background-color: var(--color-black); }
.u-bg-primary { background-color: var(--color-primary); }
.u-bg-secondary { background-color: var(--color-secondary); }
/* Colors */
.u-navy { color: var(--color-navy); }
.u-blue { color: var(--color-blue); }
.u-aqua { color: var(--color-aqua); }
.u-teal { color: var(--color-teal); }
.u-olive { color: var(--color-olive); }
.u-green { color: var(--color-green); }
.u-lime { color: var(--color-lime); }
.u-yellow { color: var(--color-yellow); }
.u-orange { color: var(--color-orange); }
.u-red { color: var(--color-red); }
.u-fuchsia { color: var(--color-fuchsia); }
.u-purple { color: var(--color-purple); }
.u-maroon { color: var(--color-maroon); }
.u-white { color: var(--color-white); }
.u-silver { color: var(--color-silver); }
.u-gray { color: var(--color-gray); }
.u-black { color: var(--color-black); }
.u-primary { color: var(--color-primary); }
.u-secondary { color: var(--color-secondary); }
/* Border colors 

   Use with another border utility that sets border-width and style 
   i.e .border { border-width: 1px); border-style: solid); }     
*/
.u-border-navy { border-color: var(--color-navy); }
.u-border-blue { border-color: var(--color-blue); }
.u-border-aqua { border-color: var(--color-aqua); }
.u-border-teal { border-color: var(--color-teal); }
.u-border-olive { border-color: var(--color-olive); }
.u-border-green { border-color: var(--color-green); }
.u-border-lime { border-color: var(--color-lime); }
.u-border-yellow { border-color: var(--color-yellow); }
.u-border-orange { border-color: var(--color-orange); }
.u-border-red { border-color: var(--color-red); }
.u-border-fuchsia { border-color: var(--color-fuchsia); }
.u-border-purple { border-color: var(--color-purple); }
.u-border-maroon { border-color: var(--color-maroon); }
.u-border-white { border-color: var(--color-white); }
.u-border-gray { border-color: var(--color-gray); }
.u-border-silver { border-color: var(--color-silver); }
.u-border-black { border-color: var(--color-black); }
.u-border-primary { border-color: var(--color-primary); }
.u-border-secondary { border-color: var(--color-secondary); }
/* Fills for SVG */
.u-fill-navy { fill: var(--color-navy); }
.u-fill-blue { fill: var(--color-blue); }
.u-fill-aqua { fill: var(--color-aqua); }
.u-fill-teal { fill: var(--color-teal); }
.u-fill-olive { fill: var(--color-olive); }
.u-fill-green { fill: var(--color-green); }
.u-fill-lime { fill: var(--color-lime); }
.u-fill-yellow { fill: var(--color-yellow); }
.u-fill-orange { fill: var(--color-orange); }
.u-fill-red { fill: var(--color-red); }
.u-fill-fuchsia { fill: var(--color-fuchsia); }
.u-fill-purple { fill: var(--color-purple); }
.u-fill-maroon { fill: var(--color-maroon); }
.u-fill-white { fill: var(--color-white); }
.u-fill-gray { fill: var(--color-gray); }
.u-fill-silver { fill: var(--color-silver); }
.u-fill-black { fill: var(--color-black); }
.u-fill-primary { fill: var(--color-primary); }
.u-fill-secondary { fill: var(--color-secondary); }
/* Strokes for SVG */
.u-stroke-navy { stroke: var(--color-navy); }
.u-stroke-blue { stroke: var(--color-blue); }
.u-stroke-aqua { stroke: var(--color-aqua); }
.u-stroke-teal { stroke: var(--color-teal); }
.u-stroke-olive { stroke: var(--color-olive); }
.u-stroke-green { stroke: var(--color-green); }
.u-stroke-lime { stroke: var(--color-lime); }
.u-stroke-yellow { stroke: var(--color-yellow); }
.u-stroke-orange { stroke: var(--color-orange); }
.u-stroke-red { stroke: var(--color-red); }
.u-stroke-fuchsia { stroke: var(--color-fuchsia); }
.u-stroke-purple { stroke: var(--color-purple); }
.u-stroke-maroon { stroke: var(--color-maroon); }
.u-stroke-white { stroke: var(--color-white); }
.u-stroke-gray { stroke: var(--color-gray); }
.u-stroke-silver { stroke: var(--color-silver); }
.u-stroke-black { stroke: var(--color-black); }
.u-stroke-primary { stroke: var(--color-primary); }
.u-stroke-secondary { stroke: var(--color-secondary); }

h1,h2,h3,h4,h5,h6,.u-header-font { font-family: var(--header-font); }
body, .u-content-font{ font-family: var(--content-font); }
body { margin: 0 auto; width: 90vw; padding: 0 1vw; overflow: visible}