

*[block] {
    display: block;
    margin: 5vh 0;
}

*[success] {
    /* Fallback because IE11 doesn't like CSS variables without a polyfill. */
    color: var(--color-green);
    color: #2ECC40;
}

broken {
    margin: 3vh 0 0 3vw;
    display: block;
    font-size: 10pt;
}