@import url('https://fonts.googleapis.com/css?family=Raleway|Raleway+Dots|Roboto+Slab');

:root {
    --color-navy: #001F3F;
    --color-blue: #0074D9;
    --color-aqua: #7FDBFF;
    --color-teal: #39CCCC;
    --color-olive: #3D9970;
    --color-green: #2ECC40;
    --color-lime: #01FF70;--color-yellow: #FFDC00;
    --color-orange: #FF851B;
    --color-red: #FF4136;
    --color-fuchsia: #F012BE;
    --color-purple: #B10DC9;
    --color-maroon: #85144B;
    --color-white: #FFFFFF;
    --color-silver: #DDDDDD;
    --color-gray: #AAAAAA;
    --color-black: #111111;

    --header-font: 'Raleway';
    --content-font: 'Roboto Slab';
    --color-primary: var(--color-green);
    --color-secondary: var(--color-maroon);

}
